
.dropdown {
	position: relative;
	height: 50%;
	font-family: Liber Grotesque, Arial, Helvetica, sans-serif;
	cursor: pointer;
	display: inline-block;
}

.dropdown select {
	border: none;
	background-color: inherit;
	color: #a4a4a5;
	font-weight: bold;
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	font-size: 20px;
	font-weight: bold;
	padding-right: 20px;
	margin-right: -12px;
	cursor: pointer;
}

.dropdown select:focus {
	outline: none;
}

.dropdown .caret {
	color: #37d6ae;
	font-size: 20px;
	position: absolute;
	top: 6px;
    right: -10px;
	pointer-events: none;
	cursor: pointer;
}

.dropdown select option:focus {
	outline: none;
}

.dropdown select option {
	color: #333A3D;
	margin-top: 10px;
}
