.green-box {
	border-radius: 30px;
	background-color: #2fae8f;
	padding: 35px;
	text-align: left;

	.help-icon {
		position: relative;
		color: inherit;
		cursor: pointer;
	}

	.text-wrap {
		word-break: break-all;
		white-space: normal;
	}

	input,
	input:focus {
		background-color: transparent;
		border: none;
		text-align: center;
		box-shadow: none;
		font-family: Liber Grotesque, Arial, Helvetica, sans-serif;
		font-size: 20px;
		font-weight: bold;
	}

	button {
		background-color: #2fae8f;
		border-color: #111113;
		border-radius: 25px;
		padding-right: 40px;
		padding-left: 40px;
		float: right;
		position: relative;
		right: 0px;
		top: 15px;
	}

	.copy-icon {
		position: relative;
		margin-left: 10px;
		cursor: pointer;
		bottom: 5px;
	}
}

.address-scan-icon {
	position: relative;
	cursor: pointer;
}

.qr-reader {
	width: 300px;
	height: 300px;
	margin: 10px auto;
}

@media screen and (max-width: 575.95px) {
	.qr-reader {
		width: 150px;
		height: 150px;
	}
}
