.track-order-wrapper {
	max-width: 670px;
}

.rounded-bg-grey,
.rounded-bg-grey:focus {
  border-radius: 13px;
  background-color: #979797;
  border: none;
}

.input-group-text,
.input-group-text:focus {
  background-color: #37d6ae;
  border-radius: 13px;
  position: relative;
  left: -20px;
  border: none;
  font-size: 16px;
  padding: 15px 40px;
  color: #111113;
}

.track-order-input,
.track-order-input:focus {
  height: 54px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 13px;
  box-shadow: none;
  z-index: inherit;
}

.flex-center {
  display: flex;
  min-height: 90vh;
  margin: auto;
}

@media (max-width: 767.98px) {
  .track-order-wrapper {
    max-width: 670px;
  }
  .track-order-wrapper .input-group-text,
  .track-order-wrapper .input-group-text:focus {
    background-color: #37d6ae;
    border-radius: 13px;
    position: relative;
    left: -20px;
    border: none;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
  }
  .track-order-wrapper input,
  .track-order-wrapper input:focus {
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 13px;
    box-shadow: none;
    z-index: inherit;
  }
}
