@font-face {
  font-family: Helios Rounded;
  font-display: swap;
  src: url(fonts/FontsFree-Net-HeliosRounded.ttf);
}

@font-face {
  font-family: Liber Grotesque;
  font-display: swap;
  src: url(fonts/LiberGrotesqueFamily-Regular.ttf);
}

@font-face {
  font-family: Avenir Next;
  font-display: swap;
  src: url(fonts/AvenirNextLTPro-Regular.otf);
}

.App-content {
  text-align: center;
  margin: 0;
  color: #f5f5f5;
}

.App-container {
  background-image: url('~images/landing-bg.svg');
}
