body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	padding: 0 5vw;
}

.center-all {
  position: absolute;
  text-align: center;
  left: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-24 {
  font-size: 24px;
}
.font-16 {
  font-size: 16px;
}
.font-14 {
  font-size: 14px;
}
.font-12 {
  font-size: 12px;
}
.font-10 {
  font-size: 10px;
}
.font-8 {
  font-size: 8px;
}

p {
  font-family: Liber Grotesque, Arial, Helvetica, sans-serif;
  margin-block-start: 0;
	margin-block-end: 0;
	margin-top: 0;
	margin-bottom: 1rem;
}

.f-helios {
  font-family: Helios Rounded !important;
}
.f-liber {
  font-family: Liber Grotesque !important;
}
.f-avenir {
  font-family: Avenir Next;
}

.p-color {
	color: #37d6ae;
}
.d-color {
	color: #212227;
}

.maxw-600 {
	max-width: 600px;
}

@media screen and (max-width: 575.95px) {
	.p-0-xs {
	  padding: 0;
	}
	.nav-logo {
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 4vw;
	}
	.mt-10vh-xs {
	  margin-top: 10vh !important;
	}
	.pt-20vh-xs {
	  padding-top: 20vh;
	}
	.n-position {
	  transform: none;
	  position: initial;
	}
	.green-box button {
	  top: 0;
	}
	.p-5vw-xs {
	  padding: 0 5vw !important;
	}
	.p-3vw-xs {
	  padding: 3vw !important;
	}
	.mt-20px-xs {
	  margin-top: 20px;
	}
}

@media (max-width: 767.98px) {
  .px-0-sm {
    padding: 0;
  }
  .px-5vw-sm {
    padding: 0 5vw;
  }
  .n-position-md {
    transform: none;
    position: initial;
  }
  .mt-10vh-sm {
    margin-top: 10vh;
  }
  .rounded-bg-grey,
  .rounded-bg-grey:focus {
    border-radius: 13px;
    background-color: #979797;
    border: none;
  }
  #track-order-wrapper {
    max-width: 670px;
  }
  #track-order-wrapper .input-group-text,
  #track-order-wrapper .input-group-text:focus {
    background-color: #37d6ae;
    border-radius: 13px;
    position: relative;
    left: -20px;
    border: none;
    font-size: 14px;
    padding: 8px 20px;
  }
  #track-order-wrapper input,
  #track-order-wrapper input:focus {
    height: 44px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 13px;
    box-shadow: none;
    z-index: inherit;
  }
  #CoinRecycler,
  #CoinRecycler-2 {
    font-size: 30px;
  }
  #logo-default {
    width: 300px;
  }
}
